{{- if .Values.policyExceptions.enablePolexPolicy }}
apiVersion: policies.kyverno.io/v1
kind: ValidatingPolicy
metadata:
  name: restrict-polex-namespaces
  labels:
    {{- include "kyverno-stack.labels" . | nindent 4 }}
  annotations:
    policies.kyverno.io/title: Restrict PolicyException Namespaces
    policies.kyverno.io/category: Security
    policies.kyverno.io/minversion: 1.9.0
    kyverno.io/kyverno-version: 1.9.0
    kyverno.io/kubernetes-version: "1.24"
    policies.kyverno.io/subject: PolicyException
    policies.kyverno.io/description: >-
      A PolicyException grants the applicable resource(s) or subject(s) the ability
      to bypass an existing Kyverno policy. This policy limits the namespaces where
      a PolicyException may be created. This limits the creation of new exceptions,
      but existing exceptions in namespaces other than those allowed here will still
      be honored by Kyverno until they are deleted.
spec:
  validationActions:
  - Deny
  evaluation:
    admission:
      enabled: true
    background:
      enabled: true
  matchConstraints:
    resourceRules:
    - apiGroups: ['kyverno.io']
      apiVersions: [v2]
      operations: [CREATE, UPDATE]
      resources: [policyexceptions]
    - apiGroups: ['policies.kyverno.io']
      apiVersions: [v1]
      operations: [CREATE, UPDATE]
      resources: [policyexceptions]
  validations:
    - messageExpression: >-
       "'PolicyExceptions are not allowed to be created in the ' + object.metadata.namespace + ' namespace. Please contact a cluster administrator for assistance.'"
      expression: >-
        object.metadata.namespace in ['giantswarm', 'flux-giantswarm', 'kube-system'{{- range .Values.policyExceptions.allowedPolexNamespaces }}, '{{ . }}'{{- end }}]
{{- end }}